@model List<DTOLayer.DTOs.AnnouncementDTOs.AnnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Announcement List</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Content</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach(var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td><a href="#" class="btn btn-outline-dark">Details</a></td>
            <td><a href="/Admin/Announcement/UpdateAnnouncement/@item.AnnouncementId" class="btn btn-outline-success">Update</a></td>
            <td><a href="/Admin/Announcement/DeleteAnnouncement/@item.AnnouncementId" class="btn btn-outline-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Admin/Announcement/AddAnnouncement/" class="btn btn-outline-info">Add New Announcement</a>
